*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

.box{
    margin: 0 4rem;
    background-color: #F2D022;
}

.sub-box{
    padding: 0 2rem;
}

h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: .6rem;
}